.padre {
  display: flex;
  flex-direction: column;
  background-color: #002868;
  width: 90vw !important;
  height: 95.5vh !important;
  border: solid 10px white;
}

.up {
  display: flex;
  margin-bottom: 25px;
}

.down {
  display: flex;
  margin-top: 25px;
  /*   background-color: #002868;
 */
}

.red-squart {
  width: 30vw;
  height: 40vh;
  background-color: #ef2b2d;
}

.red-rectangle {
  width: 50vw;
  height: 90%;
  background-color: #ef2b2d;
}

.separator-vertical {
  width: 15vh;
  height: 100%;
  background-color: #002868;
  border-right: solid 3vw white;
  border-left: solid 3vw white;
}

.border-white-up {
  border-bottom: solid 30px white;
}

.border-white-down {
  border-top: solid 30px white;
}

.border-white-rigth {
  border-right: solid 30px white;
}

.border-white-left {
  border-left: solid 30px white;
}

.margin-rigth {
  margin-right: 50px;
}

.margin-left {
  margin-left: 50px;
}
